<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Zaalvoetbal</a>
    </div>

    <div class="collapse navbar-collapse in" id="navbarNavAltMarkup">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/sportcomplexes">Sportcomplexes</a></li>
        <li routerLinkActive="active"><a routerLink="/events">Events</a></li>
        <li routerLinkActive="active"><a routerLink="/sports">Sports</a> </li>
      </ul>
    </div>
  </div>
</nav>
